
<div id="Block">
     <h4>Tasks:</h4>
    <table>
        <div ng-repeat="task in taskctrl.tasks" class="item">
            <div class="task" ng-class="{'checked': task.made, 'unchecked' : !task.made}">
                <b>Task: </b>
                <b>amount:</b> {{task.amount}}
                <b>name:</b> {{task.name}}
                <input type="checkbox" name="checkbox" value="" ng-change="taskctrl.updatemade($index+1)" ng-model="task.made" ng-true-value="1" ng-false-value="0">
                <button ng-click="taskctrl.deletetask($index+1)">x</button>
            </div>
        </div>
    </table>
</div>
